/* font size 14px */
@mixin fs-14 {
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
}

@mixin fs-16 {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
}

/* font size 18px */
@mixin fs-18 {
  font-size: clamp(1.6rem, 1.506rem + 0.47vw, 1.8rem);
}

/* font size 20px */
@mixin fs-20 {
  font-size: clamp(1.8rem, 1.706rem + 0.47vw, 2rem);
}
