@import "_mixin";

/* basic style */
* {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 1em;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  width: 100%;
  vertical-align: bottom;
  display: block;
}
figure {
  margin: 0;
}

/* basic class */
.flex {
  display: flex;
}

/* flash message */
.flash-msg {
  background-color: #98fb98;
  color: #fff;
  font-weight: bold;
  @include fs-14();
  text-align: center;
  padding: 10px;
}

/* error message */
.err-msg {
  color: #ea3a35;
  li {
    font-weight: bold;
    @include fs-14();
  }
}

/* header */
.header {
  padding: 1% 5%;
  &__inner {
    justify-content: space-between;
  }
  &__item {
    &.before {
      a {
        @include fs-20();
      }
    }
  }
  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include fs-18();
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0dd";
      vertical-align: 3px;
    }
  }
  &__form {
    text-align: center;
    font-size: clamp(1rem, 0.96rem + 0.2vw, 1.2rem);
    background-color: #f9fafc;
    padding: 5px;
  }
}

/* home */
.home {
  background-color: #1671d9;
  height: 100vh;
  background-image: url(/images/bg_home01.svg?0bc561d…);
  background-size: 40%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  &__link {
    background-color: #ea3a35;
    color: #fff;
    @include fs-16();
    width: 320px;
    text-align: center;
    padding: 10px;
    margin-left: 10%;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* form */
.form {
  width: min(80%, 1200px);
  background-color: #f2f2f2;
  padding: 40px 20px;
  text-align: center;
  margin: 30px auto 0;
  &__input {
    width: 50%;
    padding: 10px;
    @include fs-14();
  }
  &__item {
    margin-bottom: 20px;
  }
  &__link {
    width: fit-content;
    margin: 0 auto;
  }
  &__btn {
    background-color: #e0768e;
    color: #fff;
    @include fs-16();
    width: 320px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* error message */
.err-msg {
  &__list {
    text-align: center;
    padding-top: 20px;
  }
  &__item {
    @include fs-16();
    color: #ea3a35;
  }
}

/* pagination*/
.pagination {
  padding: 15px 0;
  &__display {
    p {
      @include fs-14();
      span {
        font-size: 1em;
      }
    }
  }
  &__contents {
    text-align: center;
    span {
      @include fs-16();
    }
  }
  &__link {
    display: inline-block;
    @include fs-16();
    margin: 5px;
    &:not(.next, .prev) {
      background-color: #79a5d9;
      padding: 2px 5px;
    }
  }
}

/* dashboard */
.dashboard {
  background-color: #f9fafc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    width: 50%;
    background-color: #fff;
    padding: 5%;
    border: 1px solid #333;
    li {
      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 100vh;
        background-color: #333;
        margin-right: 10px;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      a {
        @include fs-16();
        color: #043959;
        display: contents;
      }
    }
  }
}

/* 一覧画面 */
.list {
  background-color: #f9fafc;
  padding-top: 30px;
  &__inner {
    width: min(80%, 1200px);
    margin: 0 auto;
  }
  &__heading {
    @include fs-20();
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
  }
  &__table {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border-spacing: inherit;
    th {
      @include fs-18();
      background-color: #79a5d9;
      padding: 10px;
    }
    td {
      @include fs-16();
      padding: 10px;
      border-bottom: 1px solid #333;
      a {
        color: #79a5d9;
      }
    }
  }
}

/* 顧客詳細ページ */
.detail {
  background-color: #f9fafc;
  padding-top: 30px;
  &__inner {
    width: min(70%, 1200px);
    margin: 0 auto;
  }
  &__link {
    width: fit-content;
    margin-left: auto;
    @include fs-14();
  }
  &__heading {
    @include fs-20();
  }
  &__list {
    background-color: #fff;
    @include fs-16();
    padding: 20px;
    dt,
    dd {
      font-size: 1em;
    }
    dd {
      margin-bottom: 10px;
    }
  }
  &__form {
    margin-top: 30px;
    padding: 10px 0;
    background-color: #fff;
    &-label {
      @include fs-14();
      vertical-align: top;
    }
    &-textarea {
      resize: none;
      padding: 10px;
      @include fs-16();
    }
    &-submit {
      vertical-align: bottom;
      margin-bottom: 4px;
      border: 1.5px solid #79a5d9;
      color: #79a5d9;
      background-color: transparent;
      @include fs-14();
      border-radius: 4px;
      padding: 3px 10px;
      cursor: pointer;
    }
  }
  &__log {
    &-list {
      margin-top: 30px;
      background-color: #fff;
      padding: 30px;
    }
    &-item {
      @include fs-16();
      p {
        font-size: 1em;
        margin-bottom: 0;
      }
      span {
        font-size: clamp(1rem, 0.96rem + 0.2vw, 1.2rem);
      }
      &.existing {
        position: relative;
        padding-left: 20px;
        &::before {
          content: "●";
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
