@charset "UTF-8";
/* font size 14px */
/* font size 18px */
/* font size 20px */
/* basic style */
* {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 1em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
  display: block;
}

figure {
  margin: 0;
}

/* basic class */
.flex {
  display: flex;
}

/* flash message */
.flash-msg {
  background-color: #98fb98;
  color: #fff;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
  text-align: center;
  padding: 10px;
}

/* error message */
.err-msg {
  color: #ea3a35;
}
.err-msg li {
  font-weight: bold;
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
}

/* header */
.header {
  padding: 1% 5%;
}
.header__inner {
  justify-content: space-between;
}
.header__item.before a {
  font-size: clamp(1.8rem, 1.706rem + 0.47vw, 2rem);
}
.header__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(1.6rem, 1.506rem + 0.47vw, 1.8rem);
}
.header__btn::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dd";
  vertical-align: 3px;
}
.header__form {
  text-align: center;
  font-size: clamp(1rem, 0.96rem + 0.2vw, 1.2rem);
  background-color: #f9fafc;
  padding: 5px;
}

/* home */
.home {
  background-color: #1671d9;
  height: 100vh;
  background-image: url(/images/bg_home01.svg?0bc561d…);
  background-size: 40%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.home__link {
  background-color: #ea3a35;
  color: #fff;
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  width: 320px;
  text-align: center;
  padding: 10px;
  margin-left: 10%;
}
.home__link:hover {
  opacity: 0.8;
}

/* form */
.form {
  width: min(80%, 1200px);
  background-color: #f2f2f2;
  padding: 40px 20px;
  text-align: center;
  margin: 30px auto 0;
}
.form__input {
  width: 50%;
  padding: 10px;
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
}
.form__item {
  margin-bottom: 20px;
}
.form__link {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.form__btn {
  background-color: #e0768e;
  color: #fff;
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  width: 320px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.form__btn:hover {
  opacity: 0.8;
}

/* error message */
.err-msg__list {
  text-align: center;
  padding-top: 20px;
}
.err-msg__item {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  color: #ea3a35;
}

/* pagination*/
.pagination {
  padding: 15px 0;
}
.pagination__display p {
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
}
.pagination__display p span {
  font-size: 1em;
}
.pagination__contents {
  text-align: center;
}
.pagination__contents span {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
}
.pagination__link {
  display: inline-block;
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  margin: 5px;
}
.pagination__link:not(.next, .prev) {
  background-color: #79a5d9;
  padding: 2px 5px;
}

/* dashboard */
.dashboard {
  background-color: #f9fafc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__inner {
  width: 50%;
  background-color: #fff;
  padding: 5%;
  border: 1px solid #333;
}
.dashboard__inner li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100vh;
  background-color: #333;
  margin-right: 10px;
}
.dashboard__inner li:not(:last-child) {
  margin-bottom: 15px;
}
.dashboard__inner li a {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  color: #043959;
  display: contents;
}

/* 一覧画面 */
.list {
  background-color: #f9fafc;
  padding-top: 30px;
}
.list__inner {
  width: min(80%, 1200px);
  margin: 0 auto;
}
.list__heading {
  font-size: clamp(1.8rem, 1.706rem + 0.47vw, 2rem);
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.list__table {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border-spacing: inherit;
}
.list__table th {
  font-size: clamp(1.6rem, 1.506rem + 0.47vw, 1.8rem);
  background-color: #79a5d9;
  padding: 10px;
}
.list__table td {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  padding: 10px;
  border-bottom: 1px solid #333;
}
.list__table td a {
  color: #79a5d9;
}

/* 顧客詳細ページ */
.detail {
  background-color: #f9fafc;
  padding-top: 30px;
}
.detail__inner {
  width: min(70%, 1200px);
  margin: 0 auto;
}
.detail__link {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
}
.detail__heading {
  font-size: clamp(1.8rem, 1.706rem + 0.47vw, 2rem);
}
.detail__list {
  background-color: #fff;
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
  padding: 20px;
}
.detail__list dt,
.detail__list dd {
  font-size: 1em;
}
.detail__list dd {
  margin-bottom: 10px;
}
.detail__form {
  margin-top: 30px;
  padding: 10px 0;
  background-color: #fff;
}
.detail__form-label {
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
  vertical-align: top;
}
.detail__form-textarea {
  resize: none;
  padding: 10px;
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
}
.detail__form-submit {
  vertical-align: bottom;
  margin-bottom: 4px;
  border: 1.5px solid #79a5d9;
  color: #79a5d9;
  background-color: transparent;
  font-size: clamp(1.2rem, 1.16rem + 0.2vw, 1.4rem);
  border-radius: 4px;
  padding: 3px 10px;
  cursor: pointer;
}
.detail__log-list {
  margin-top: 30px;
  background-color: #fff;
  padding: 30px;
}
.detail__log-item {
  font-size: clamp(1.4rem, 1.36rem + 0.2vw, 1.6rem);
}
.detail__log-item p {
  font-size: 1em;
  margin-bottom: 0;
}
.detail__log-item span {
  font-size: clamp(1rem, 0.96rem + 0.2vw, 1.2rem);
}
.detail__log-item.existing {
  position: relative;
  padding-left: 20px;
}
.detail__log-item.existing::before {
  content: "●";
  position: absolute;
  left: 0;
  top: 0;
}
